<div class="wrapper">
  <div class="headline">
    <h3>{{'main_page.title' | translate}}</h3>
    <button class="add-new-button" (click)="goAddPage()">{{'main_page.add_new' | translate}}</button>
  </div>

  <app-google-input
    [placeholder]="'main_page.search_placeholder'"
    [label]="'main_page.search_label'"
    (valueChanged)="setSearchString($event)"
  ></app-google-input>

  <ol class="students-list">
    <li
      *ngFor="let student of students | search:searchString let i = index"

      (click)="goDetailPage(student)"
    >
      <p class="students-list__title">{{i + 1}}. {{student.firstname}} {{student.lastname}}</p>
      <p class="students-list__text">Room {{student.studroom.Room}}</p>
    </li>
  </ol>
</div>

