<div class="wrapper">
  <h3>Students:</h3>

  <app-google-input
    [placeholder]="'main_page.search_placeholder'"
    [label]="'main_page.search_label'"
    (valueChanged)="setSearchString($event)"
  ></app-google-input>

  <ol class="students-list">
    <li *ngFor="let student of students | search:searchString let i = index">
      <p class="students-list__title">{{i + 1}}. {{student.firstname}} {{student.lastname}}</p>
      <p class="students-list__text">Floor {{student.studfloor.Floor}}, Room {{student.studroom.Room}}</p>
      <p class="students-list__text">{{student.date}}</p>
    </li>
  </ol>
</div>
