:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.wrapper {
  min-width: 400px;
}

.element-name {
  font-size: 30px;
  text-align: center;
}

.element {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  span {
    margin-left: 10px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-button {
  background-color: yellowgreen;

  &:hover {
    background-color: lighten(yellowgreen, 15%);
  }
}
