<div class="wrapper">
  <h3>{{'add_page.title' | translate}}</h3>

  <div class="element">
    {{'add_page.first' | translate}}:
    <input>
  </div>
  <div class="element">
    {{'add_page.last' | translate}}:
    <input>
  </div>
  <div class="element">
    {{'detail_page.floor' | translate}}:
    <input>
  </div>
  <div class="element">
    {{'detail_page.room' | translate}}:
    <input>
  </div>

  <div class="buttons">
    <button (click)="goBack()">{{'registration_page.button.back' | translate}}</button>
    <button class="add-button">{{'add_page.add' | translate}}</button>
  </div>
</div>
