:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.wrapper {
  min-width: 510px;
}

.inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-information {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.provision-input {
  width: 80px;
}

.login {
  width: 350px;
}

.separator {
  width: 80%;
  height: 1px;
  margin: 10px 0;
  background-color: gray;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-button {
  background-color: yellowgreen;

  &:hover {
    background-color: lighten(yellowgreen, 15%);
  }
  &:disabled {
    background-color: grey;
  }
}
