:host {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 7vh;
}

.register {
  width: 320px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  font-size: 15px;
}

button {
  margin-top: 10px;
}

.caution-label {
  color: red;
  text-align: center;
}

.login-button {
  background-color: greenyellow;

  &:hover {
    background-color: lighten(greenyellow, 15%);
  }
}

.register-button {
  background-color: lightskyblue;

  &:hover {
    background-color: lighten(lightskyblue, 5%);
  }
}
