<form class="register wrapper" (ngSubmit)="onSubmit()" #signUpForm="ngForm">
  <h3>{{pageName | translate}}</h3>

  <div class="register__container">
    <app-google-input class="register__input-field"
      [name]="'login'"
      [placeholder]="'registration_page.placeholder.login'" 
      [label]="'registration_page.label.login'" 
      (valueChanged)="changeInput('login', $event)"
    ></app-google-input>
    <app-google-input class="register__input-field"
      [name]="'password'" [type]="'password'"
      [placeholder]="'registration_page.placeholder.password'" 
      [label]="'registration_page.label.password'" 
      (valueChanged)="changeInput('password', $event)"
    ></app-google-input>
    <app-google-input class="register__input-field"
      [name]="'submit'" [type]="'password'"
      [placeholder]="'registration_page.placeholder.repeat_password'" 
      [label]="'registration_page.label.repeat_password'" 
      (valueChanged)="changeInput('confirm', $event)"
      [hidden]="pageState"
    ></app-google-input>
  </div>

  <p
    [hidden]="isConfirm"
  >{{ 'registration_page.error.password_do_not_match' | translate}}</p>

  <div class="buttons">
    <button class="loginButton" type="submit" *ngIf="pageState">{{ 'registration_page.button.login' | translate}}</button>
    <button *ngIf="!pageState" (click)="goToLogin()">{{ 'registration_page.button.back' | translate}}</button>

    <button class="registerButton" *ngIf="pageState" (click)="goToRegister()">{{ 'registration_page.button.register' | translate}}</button>
    <button class="registerButton" type="submit"
      [disabled]="signUpForm.form.invalid"
      *ngIf="!pageState"
    >{{ 'registration_page.button.register' | translate}}</button>
  </div>
</form>


