<div class="wrapper">
  <h3>{{'detail_page.title' | translate}}</h3>

  <p class="element-name">{{student.FirstName}} {{student.LastName}}</p>
  <p class="element-name"
    *ngIf="student.UUID === uuid"
  >({{'detail_page.you' | translate}})</p>

  <div class="detail-information">
    <div class="detail-student">
      <div class="element">
        {{'detail_page.id' | translate}}:
        <span>{{student.ID}}</span>
      </div>
      <div class="element">
        {{'detail_page.date' | translate}}:
        <span>{{student.Date}}</span>
      </div>
      <div class="element">
        {{'detail_page.fname' | translate}}:
        <input class="edit-field" [disabled]="!rights" [(ngModel)]="student.FirstName">
      </div>
      <div class="element">
        {{'detail_page.lname' | translate}}:
        <input class="edit-field" [disabled]="!rights" [(ngModel)]="student.LastName">
      </div>
      <div class="element">
        {{'detail_page.floor' | translate}}:
        <input class="edit-field" type="number" [disabled]="!rights" [(ngModel)]="student.StudFloor.Floor">
      </div>
      <div class="element">
        {{'detail_page.room' | translate}}:
        <input class="edit-field" type="number" [disabled]="!rights" [(ngModel)]="student.StudRoom.Room">
      </div>
    </div>

    <div class="detail-provision">
      <p>{{'detail_page.provisions.title' | translate}}:</p>

      <div class="element">
        {{'detail_page.provisions.bedhseet' | translate}}:
        <input class="edit-field provision-input" type="number" [disabled]="!rights" [(ngModel)]="provision.Bedsheet">
      </div>
      <div class="element">
        {{'detail_page.provisions.pillow' | translate}}:
        <input class="edit-field provision-input" type="number" [disabled]="!rights" [(ngModel)]="provision.Pillow">
      </div>
      <div class="element">
        {{'detail_page.provisions.towel' | translate}}:
        <input class="edit-field provision-input" type="number" [disabled]="!rights" [(ngModel)]="provision.Towel">
      </div>
      <div class="element">
        {{'detail_page.provisions.blanket' | translate}}:
        <input class="edit-field provision-input" type="number" [disabled]="!rights" [(ngModel)]="provision.Blanket">
      </div>
      <div class="element">
        {{'detail_page.provisions.curtain' | translate}}:
        <input class="edit-field provision-input" type="number" [disabled]="!rights" [(ngModel)]="provision.Curtain">
      </div>
    </div>
  </div>

  <div class="buttons">
    <button (click)="goBack()">{{'detail_page.button.back' | translate}}</button>

    <button class="update-button"
      *ngIf="rights"
      (click)="onUpdate()"
    >{{'detail_page.button.update' | translate}}</button>

    <button class="delete-button"
      *ngIf="rights"
      (click)="onDelete()"
    >{{'detail_page.button.delete' | translate}}</button>
  </div>
</div>
