<div class="wrapper">
  <div class="headline">
    <h3>{{'students_page.title' | translate}}</h3>
    <button class="add-new-button"
      *ngIf="rights"
      (click)="goAddPage()"
    >{{'students_page.add_new' | translate}}</button>
  </div>

  <app-google-input
    [placeholder]="'students_page.search_placeholder'"
    [label]="'students_page.search_label'"
    (valueChanged)="setSearchString($event)"
  ></app-google-input>

  <ol class="students-list" *ngIf="studentsList.length; else noList">
    <li
      *ngFor="let student of studentsList | search:searchString let i = index"
      (click)="goDetailPage(student)"
      [className]="student.uuid === uuid ? 'selected' : ''"
    >
      <p class="students-list__title">{{i + 1}}. {{student.FirstName}} {{student.LastName}}</p>
      <p class="students-list__text">Room {{student.StudRoom.Room}}</p>
    </li>
  </ol>

  <ng-template #noList>
    <p>{{'students_page.empty' | translate}}</p>
  </ng-template>
</div>

