<form class="login wrapper" (ngSubmit)="onSubmit()" #signUpForm="ngForm">
  <h3>{{'login_page.title' | translate}}</h3>

  <div class="login__container">
    <app-google-input class="register__input-field"
      [name]="'login'"
      [placeholder]="'login_page.placeholder.login'"
      [label]="'login_page.label.login'"
      (valueChanged)="changeInput('login', $event)"
    ></app-google-input>

    <app-google-input class="register__input-field"
      [name]="'password'" [type]="'password'"
      [placeholder]="'login_page.placeholder.password'"
      [label]="'login_page.label.password'"
      (valueChanged)="changeInput('password', $event)"
    ></app-google-input>
  </div>

  <div class="buttons">
    <button class="login-button" type="submit"
    >{{'login_page.button.login' | translate}}</button>
  </div>
</form>


