/* You can add global styles to this file, and also import other style files */

@import "~angular-notifier/styles";

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h3 {
  margin: 0 0 20px 0;
}

button {
  height: 35px;
  min-width: 90px;
  padding: 0 7px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color .3s;

  &:disabled {
    cursor: default;
  }
}

.input-field {
  width: 200px;
  height: 25px;
  padding: 5px;
  font-size: 18px;
  border: none;
  background-color: rgb(255, 255, 255, 0.5);
}

.wrapper {
  padding: 20px;
  background-color: rgb(226, 226, 226);
  border-radius: 3px;
}
